.price {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.price__header {
	display: flex;
	gap: 12px;
}

.price__value {
	font-size: 42px;
	color: #000;
	font-weight: bold;
}

.price__value--has-discount {
	color: #6c757d;
	text-decoration: line-through;
}

.price__list {
	display: grid;
	gap: 12px;
}
