.room {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.room__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.room__block {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.room__title {
	color: #000;
	font-size: 24px;
	font-weight: bold;
}

.room__info {
	font-size: 16px;
	color: #000;
}

.room__price {
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
